<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>1</integer>
	<key>Extension Name</key>
	<string>TMDb Search</string>
	<key>Extension Identifier</key>
	<string>com.mactuts.extension.mactuts-search</string>
	<key>Extension Description</key>
	<string>TMDb Search</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>https://www.themoviedb.org/search?query={popclip text}</string>
			<key>Image File</key>
			<string>MactutsIcon.png</string>
			<key>Title</key>
			<string>Mactuts+</string>
		</dict>
	</array>
</dict>
</plist>
